<app-value-inputs (newItemEvent)="addItem($event)"></app-value-inputs>

<p><ngb-progressbar type="success" [value]=+item>{{UsersList[0].name}} - {{item}}%</ngb-progressbar></p>
<p><ngb-progressbar type="info" [value]=+item>{{UsersList[1].name}} - {{item}}%</ngb-progressbar></p>
<p><ngb-progressbar type="warning" [value]=+item>{{UsersList[2].name}} - {{item}}%</ngb-progressbar></p>
<p><ngb-progressbar type="danger" [value]=+item>{{UsersList[3].name}} - {{item}}%</ngb-progressbar></p>
<p><ngb-progressbar type="secondary" [value]=+item>{{UsersList[4].name}} - {{item}}%</ngb-progressbar></p>
<!-- <p><ngb-progressbar type="primary" [value]=+item>{{item}}</ngb-progressbar></p> -->
<!-- <p><ngb-progressbar type="dark" [value]=+item></ngb-progressbar></p> -->


   